@import "@mental-rebuilders/styles-reset-library/lib/base-reset.scss";
@import "@mental-rebuilders/styles-reset-library/lib/utils.scss";

$textColor: #535e59;

body {
  font-size: 16px;
  line-height: 1.55rem;
  color: $textColor;
}

.site-nav {
  padding: 1rem;
  background-color: #fefefe;
  position: fixed;
  top: 0;
  width: 100%;
  @include reset-inner-list();
  display: flex;
  align-items: center;
  border-top: 1px solid $textColor;
  border-bottom: 1px solid $textColor;
  .site-title {
    display: block;
    text-align: center;
    // padding: 0.5rem;
    font-size: 1.5rem;
    flex: 1 1 auto;
  }
  .site-title a {
    color: #448;
    text-decoration: none;
  }
  &,
  ul {
    flex-wrap: wrap;
  }
  ul {
    display: flex;
    margin-left: auto;
    flex: 1 1 auto;
    margin-right: 0.5rem;
    justify-content: space-around;
  }
  li {
    display: flex;
  }
  li a {
    padding: 0.5rem;
    transition: all 0.5s ease;
    color: $textColor;
    text-decoration: none;
    display: block;

    &:active {
      color: $textColor;
    }
    &:hover {
      background-color: #efefef;
    }
  }
  a:not(:last-of-type) {
    padding-right: 1rem;
  }
}

@mixin from-above($width) {
  @media screen and (min-width: $width) {
    @content;
  }
}

.page {
  padding-top: 15rem;
  @include from-above(555px) {
    padding-top: 12rem;
  }
  @include from-above(870px) {
    padding-top: 10rem;
  }
  @include from-above(1155px) {
    padding-top: 8rem;
  }
}

.container {
  max-width: 850px;
}

h1 + p {
  margin-top: 2rem;
}

p {
  line-height: 1.75;
}
